<template name="addProduct">
    <h3>Add Product</h3>
    <form action="" class="add_product" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>Name
                <input type="text" name="name" class="form-control" placeholder="Product Name">
            </label>
        </div>
        <div class="form-group">
            <label>
                Category
                <select name="category" class="form-control">
                    <option value="0">--Select Category--</option>
                    {{#each categories}}
                    <option value="{{slug}}">{{name}}</option>
                    {{/each}}
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>
                Product Image
                <input type="file" name="productImage" id="productImage">
            </label>
        </div>
        <div class="form-group">
            <label>
                Description
                <input type="text" name="description" class="form-control" placeholder="Description">
            </label>
        </div>
        <div class="form-group">
            <label>
                Featured
                <input type="radio" name="is_featured" value="1">Yes
                <input type="radio" name="is_featured" value="0">No
            </label>
        </div>
        <div>
            <input type="submit" name="submit" class="btn btn-success" value="Add Product">
            <a href="/admin" class="btn btn-default">Close</a>
        </div>
    </form>
</template>