.headerwrap {
    background: url(images/spatula.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100vh;
}


.buy-me-button {
	position: relative;
	top: 75%;
	opacity: 1;
	font-family: sans-serif;
}

.quotes {
    height: 100%;
    border: 3px red solid;
}

.quote-top,
.quote-bottom {
    font-family: sans-serif;
}

.quote-top::before,
.quote-bottom::before {
    content: '"...'
}

.quote-top::after,
.quote-bottom::after {
    content: '..."'
}
